BasedOnStyle: LLVM

# indentation
# =========================
IndentPPDirectives: BeforeHash
IndentWidth: 4
ContinuationIndentWidth: 4
IndentCaseLabels: true
UseTab: Never

ColumnLimit: 150

# pointers & references
# =========================
DerivePointerAlignment: false
PointerAlignment: Left

# includes
# =========================
SortIncludes: true
IncludeBlocks: Regroup
IncludeCategories:
  # standard library
  - Regex: '^<([a-zA-Z0-9_\/]+)>$'
    Priority: 1

  # third-party headers
  - Regex: "^<.*.(h|hpp)>$"
    Priority: 2

  # project headers
  - Regex: '^threadlet\/.*$'
    Priority: 3

# alignment
# =========================
AlignAfterOpenBracket: Align
AllowShortFunctionsOnASingleLine: InlineOnly
AllowAllArgumentsOnNextLine: false

AlwaysBreakTemplateDeclarations: Yes
AlwaysBreakBeforeMultilineStrings: false

# braces
BreakBeforeBraces: Attach
BraceWrapping:
  AfterControlStatement: true

# short constructs
# =========================
AllowShortBlocksOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: true

# namespaces
# =========================
NamespaceIndentation: All
FixNamespaceComments: false
